@import "style/mixins";
@import "style/variables";

body {
  font-family: "Roboto";
}

.back-content {
  margin-top: 90px;
  background-color: #eaeaea;
}

md-input-container .md-input {
  background: white !important;
  border-color: white;
  height: 41px !important;
}

.container-layout {
  height: 70px;
}

.label-container {
  padding-top: 30px;
  padding-bottom: 22px;
}

label {
  margin: 0 30px 5px 0;
  &.label-style {
    margin-top: 15px;
  }
}

checked .md-off {
  border-color: white !important;
}

md-checkbox {
  .md-container {
    width: 30px !important;
    height: 30px !important;
    background-color: white;
  }
  .md-icon {
    width: 30px !important;
    height: 30px !important;
    border-width: 0px !important;
  }
  &.md-default-theme.md-checked .md-icon {
    background-color: white;
  }
  &.md-checked .md-icon {
    background-color: white;
    &:after {
      left: 12px !important;
      top: 7px !important;
      border-width: 2.5px;
      border-color: #FFB300;
    }
  }
  &.md-default-theme.md-checked .md-ink-ripple, &.md-checked .md-ink-ripple {
    color: #FFB300;
  }
}

md-radio-button {
  &.md-default-theme.md-checked .md-off, &.md-checked .md-off {
    border-color: white;
  }
  &.md-default-theme .md-on, .md-on {
    background-color: #FFB300;
  }
  .md-off {
    width: 30px !important;
    height: 30px !important;
    border-width: 1px;
    background: white;
    border-color: white;
  }
  .md-on, .md-container {
    width: 30px !important;
    height: 30px !important;
  }
  display: inline !important;
  padding-right: 15px;
  .md-label {
    margin-left: 38px !important;
  }
}

md-checkbox .md-label {
  margin-left: 38px !important;
}

.layout-align-start-center.layout-row.flex-gt-sm-70 {
  padding-top: 11px;
}

.md-button {
  &.md-raised, &.md-primary.md-raised:hover {
    background-color: #FFB300;
  }
  width: 100%;
  border-radius: 1px !important;
  font-weight: 700 !important;
  font-size: 15px !important;
}

md-input-container.md-input-invalid {
  .md-input, .md-input-focused {
    border: 1px solid #e60808 !important;
  }
}

.md-button {
  span {
    color: white;
  }
  &.md-ink-ripple.md-input-focused .md-ripple-container {
    background-color: #FFB300 !important;
  }
  &.md-ripple-container {
    background-color: #FFB300;
  }
  &.md-raised:not([disabled]) {
    &:hover, &:focus {
      background-color: #ffb300;
    }
  }
  &:not([disabled]) {
    &:hover, &:focus {
      background-color: #ffb300;
    }
  }
}

md-input-container {
  &.md-default-theme:not(.md-input-invalid).md-input-focused.md-input, &.md-block:not(.md-input-has-value).md-input-focused.md-input {
    border-color: white !important;
  }
}
.md-button {
  &.md-default-theme:not([disabled]).md-focused, &:not([disabled]).md-focused {
    background-color: #ffb300;
  }
}

md-toast .md-toast-content {
  background-color: #b91818;
}
.angular-google-map-container { height: 400px; }
md-toolbar:not(.md-menu-toolbar) {
   background-color: rgb(39, 212, 18);
   margin-top: 30px;
}

md-input-container:not(.md-input-has-value)input:not(:focus){
  color: red;
}
